<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/media/css/style.css" type="text/css" />
	<title>专利信息录入系统</title>
</head>
<body>
	<div id="page" align="center">
		<div id="header">
			<div id="companyname" align="left">专利信息录入系统</div>
			<div align="right" class="links_menu" id="menu"></div>
		</div>
		<br />
		<div id="content">
			<div id="leftpanel">
				<div class="table_top">
					<div align="center"><span class="title_panel">查看与编辑</span> </div>
				</div>
				<div class="table_content">
					<div class="table_text">
						<span class="news_date">
						{%for catalog in catalogs %}
                <a href="{%url input.views.list catalog.pk%}">{{catalog.name}}</a>
                {%endfor%}
						</span>				
					</div>
				</div>
				<div class="table_bottom">
					<img src="/media/images/table_bottom.jpg" width="204" height="23" border="0" alt="" />
				</div>
				<br />
				<div class="table_top">
					<span class="title_panel">录入</span>
				</div>
				<div class="table_content">
					<div class="table_text">
						<span class="news_more"><a href="">
						录入新内容
						</a></span><br />
					</div>
				</div>
				<div class="table_bottom">
					<img src="/media/images/table_bottom.jpg" width="204" height="23" border="0" alt="" />
				</div>
				<br />
			</div>
			<div id="contenttext">
				<span class="title_blue">欢迎使用本系统！</span><br />
				<br />
				<br />
				<span class="subtitle_gray">请点击左侧行业分类，以查看并编辑所录入的专利信息。</span><br />
				<br />
				<p class="body_text" align="justify">
                </p>
			</div>
			<br />
			<br />
			<div class="footer">
				<br />
				www.mynetwork.cn. Designed by 
				miaomiaomiao.
			</div>
		</div>
	</div>
</body>
</html>
