body, div, a, img, p, form, h1, h2, h3, h4, h5, h6, input, textarea, ul, li, dt, dt, dl {
     margin: 0pt;
     padding: 0pt;
}

body {
     background: none repeat scroll 0% 0% #F8F8F8;
}

#Logo, #Nav, #Content, #Footer, #SearchContent {
     margin: 0pt auto;
     width: 900px;
}

#Logo {
     background: none repeat scroll 0% 0% #D4E6FC;
     height: 100px;
     margin-top: 20px;
}

#logolink {
     background: url("logo.png") repeat scroll 0% 0% transparent;
     display: block;
     float: left;
     height: 100px;
     margin-top: 10px;
     width: 200px;
}

#login {
     float: right;
     margin-top: 10px;
     width: 300px;
}

#login #item1 {
     color: black;
     float: left;
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 16px;
     line-height: 26px;
     width: 100px;
}

#Nav {
     height: 43px;
}

#Nav ul {
     background: none repeat scroll 0% 0% #60B8FF;
     height: 43px;
     list-style: none outside none;
}

#Nav ul li {
     float: left;
     height: 43px;
}

#Nav ul li a {
     color: #FFFFFF;
     display: block;
     float: left;
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 14px;
     font-weight: bold;
     height: 43px;
     line-height: 43px;
     padding: 0pt 10px;
     text-decoration: none;
}

#Nav ul li a:hover {
     background: none repeat scroll 0% 0% #D0D0D0;
}

#Content {
     background: none repeat scroll 0% 0% #FFFFFF;
}

#Content #contentname {
     background: none repeat scroll 0% 0% #F0F0F0;
     color: teal;
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 16px;
     font-weight: bold;
     height: 20px;
     line-height: 20px;
}

#Content #listnav {
     height: 80px;
}

#Content #listnav ul {
     height: 80px;
     list-style: none outside none;
     padding: 0px;
}

#Content #listnav ul li {
     float: left;
     height: 16px;
}

#Content #listnav ul li a {
     color: #0033CC;
     display: block;
     float: left;
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 15px;
     font-weight: bold;
     height: 16px;
     line-height: 16px;
     margin-top: 5px;
     padding: 0pt 1px;
     text-decoration: none;
     width: 140px;
}

#Content #listnav ul li a:hover {
     background: none repeat scroll 0% 0% #D0D0D0;
}

#SearchContent {
     background: none repeat scroll 0% 0% #D4E6FC;
}

#SearchContent #searchnav {
     margin-left: 100px;
}

#Content #ContentL, #Content #ContentR {
     float: left;
     padding: 15px;
}

#Content #ContentL {
     background: none repeat scroll 0% 0% #F0F0F0;
     width: 270px;
}

#Content #ContentL #subContentL {
     border-bottom: 2px solid gray;
}

#Content #ContentL h1 {
     border-bottom: 1px solid maroon;
     color: blue;
     font-size: 16px;
     height: 40px;
     line-height: 40px;
     margin-bottom: 10px;
}

#Content #ContentL h2 {
     border-bottom: 1px dashed gray;
     color: black;
     font-size: 14px;
     height: 25px;
     line-height: 25px;
     margin-bottom: 10px;
}

#Content #ContentR {
     padding-top: 0pt;
     width: 570px;
}

#Content #ContentR #subContentR ul {
     list-style: none outside none;
}

#Content #ContentR #subContentR #itemname {
     background: none repeat scroll 0% 0% #F0F0F0;
     clear: both;
     color: black;
     font-size: 14px;
     height: 25px;
     line-height: 25px;
     margin-bottom: 10px;
}

#Content #ContentR #subContentR #contentRclass {
     border: 1px solid blue;
     float: left;
     margin: 10px;
     width: 260px;
}

#Content #ContentR #subContentR #contentRclass #classname {
     background: none repeat scroll 0% 0% teal;
     margin-bottom: 4px;
     width: 260px;
}

#Content #ContentR #subContentR #contentRclass ul {
     list-style: none outside none;
}

#Content #ContentR h1 {
     border-bottom: 1px dashed maroon;
     color: black;
     font-size: 16px;
     height: 40px;
     line-height: 40px;
     margin-bottom: 5px;
}

#Content #ContentR h2 {
     color: black;
     font-size: 12px;
     height: 25px;
     line-height: 25px;
     margin-bottom: 5px;
}

#Content #ContentL p {
     font-size: 12px;
     line-height: 20px;
     text-indent: 2em;
}

#Footer {
     background: none repeat scroll 0% 0% #D4E6FC;
     color: black;
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 12px;
     line-height: 20px;
     padding: 10px 0pt;
     text-align: center;
}

#Content #ContentR #class {
    
}

#Content #ContentR #class #subclass {
     width: 265px;
}

#Content #ContentR #class #subclass ul {
     height: 20px;
     list-style: none outside none;
}

#Content #ContentR #class #subclass ul li {
     float: left;
     height: 20px;
}

#Content #ContentR #class #subclass ul li a {
     color: black;
     display: block;
     font-size: 12px;
     height: 20px;
     line-height: 20px;
     padding: 0pt 4px;
}

#Content #ContentR #class #subclass ul li a:hover {
     color: maroon;
}

.seprate {
     background: none repeat scroll 0% 0% black;
     height: 8px;
     width: 1px;
}

#subnav {
     color: teal;
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 12px;
     height: 20px;
     line-height: 20px;
     padding: 5px 0pt;
     text-align: left;
}

#listitems {
     background: none repeat scroll 0% 0% silver;
}

#listitems h1 {
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 18px;
     height: 30px;
     line-height: 30px;
     margin-bottom: 5px;
     margin-left: 15px;
}

#textcontent h1 {
     border-bottom: 1px solid maroon;
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 18px;
     height: 30px;
     line-height: 30px;
     margin-bottom: 10px;
     text-align: center;
}

#textcontent p {
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 12px;
     height: 20px;
     line-height: 20px;
     margin-bottom: 5px;
     text-indent: 2em;
}

#textcontent table {
     border-color: black;
     border-style: solid;
     border-width: 1px;
     margin: 0px auto;
     width: 850px;
}

#textcontent th, #textcontent td {
     border-color: black;
     border-style: solid;
     border-width: 1px;
     padding: 2px;
     text-align: left;
}

#textcontent th {
     width: 200px;
}

#textcontent td {
     width: 650px;
}

#textcontent td.infopublish {
     background: none repeat scroll 0% 0% silver;
     font-family: 宋体,Arial,Helvetica,sans-serif;
     font-size: 14px;
     height: 20px;
     line-height: 20px;
     text-align: center;
}

#textcontent td.submit {
     text-align: center;
     width: 100%;
}

body {
     background: none repeat scroll 0% 0% #FFFFFF;
     margin: 0pt auto;
     text-align: left;
     width: 940px;
}

td {
     color: #333333;
     font: 12px/1.5 Verdana,Arial,Helvetica,sans-serif,"宋体";
}

input {
     font: 10pt Verdana,Arial,Helvetica,sans-serif,"宋体";
}

img {
     border: medium none;
}

p, ul, ol, li, form {
     list-style: none outside none;
     margin: 0pt;
     padding: 0pt;
}

a {
     color: #07519A;
     text-decoration: none;
}

a:hover {
     color: #CC3300 ! important;
     text-decoration: underline;
}

.content {
    
}

.sider {
     width: 300px;
}

.homepage .sider {
     width: 230px;
}

.top {
     border-bottom: 1px solid #DCDCDC;
}

.top td {
     background: none repeat scroll 0% 0% #F4F4F4;
}

.top table td {
     padding: 3px 10px;
}

.top a {
    
}

.top .inputText {
     border: 1px solid #999999;
     height: 14px;
}

.top .inputSub {
     height: 19px;
}

.nav {
     background: url("../images/nav_bg.jpg") repeat-x scroll left top transparent;
}

.nav .nav_global {
    
}

.nav .nav_global ul {
     padding: 0pt 10px;
}

.nav .nav_global li {
     background: url("../images/nav_line.jpg") no-repeat scroll right top transparent;
     color: #FFFFFF;
     cursor: pointer;
     float: left;
     font-size: 14px;
     font-weight: bold;
     line-height: 33px;
     padding-right: 2px;
     text-align: center;
     text-decoration: none;
}

.nav .nav_global li a {
     color: #FFFFFF;
     display: block;
     padding: 0pt 14px;
     text-align: center;
}

.nav .nav_global li a:hover {
     color: #000000 ! important;
     text-decoration: none;
}

.nav .nav_global li.curr a {
     background: url("../images/nav_li_hover.jpg") repeat-x scroll center top transparent;
     color: #000000;
}

.nav_sub {
     padding: 6px;
}

.nav_sub a {
     padding: 0pt 2px;
}

#tabnav_div_1 {
    
}

#tabnav_div_2 {
     padding-left: 100px;
}

#tabnav_div_3 {
     padding-left: 200px;
}

#tabnav_div_4 {
     padding-left: 300px;
}

#tabnav_div_5 {
     padding-left: 400px;
}

#tabnav_div_6 {
     padding-left: 500px;
}

#tabnav_div_7 {
     padding-left: 600px;
}

#tabnav_div_8 {
     padding-right: 40px;
     text-align: right;
}

.links {
     margin-top: -10px;
}

.links hr {
     color: #DCDCDC;
}

.search {
     background: none repeat scroll 0% 0% #1F73BE;
     color: #FFFFFF;
}

.search td, .search a {
     color: #FFFFFF;
}

.search a:hover {
     color: #FFFFFF ! important;
}

.copyright {
     margin: 5px 0pt;
}

.title {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: url("../images/title_bg.gif") repeat-x scroll left top #E9F2FB;
     border-color: #AACCEE #AACCEE -moz-use-text-color;
     border-style: solid solid none;
     border-width: 1px 1px medium;
     color: #07519A;
}

.title td {
     color: #07519A;
     font-size: 14px;
     line-height: 26px;
     padding: 0px 10px;
}

.box {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #AACCEE;
     border-style: solid;
     border-width: 0pt 1px 1px;
}

.box ul {
     list-style: none outside none;
     padding: 8px;
}

.box ul li {
     background: url("../images/bullet.gif") no-repeat scroll left center transparent;
     line-height: 1.6;
     padding: 2px 0pt 2px 8px;
}

.no_doc ul li {
     background: url("none") repeat scroll 0% 0% transparent;
     padding-left: 0px;
}

.box ul li p {
     border-bottom: 1px dashed #CCCCCC;
     color: #666666;
     margin: 0pt 0pt 4px;
     padding: 0pt 0pt 5px;
}

.box ul li strong {
     display: block;
}

.rank {
     margin: 0px;
     padding: 8px 6px;
}

.rank li {
     line-height: 23px;
     padding-left: 18px;
}

.rank li.no1 {
     background: url("../images/1.gif") no-repeat scroll 4px center transparent;
}

.rank li.no2 {
     background: url("../images/2.gif") no-repeat scroll 4px center #F2F8FD;
}

.rank li.no3 {
     background: url("../images/3.gif") no-repeat scroll 4px center transparent;
}

.rank li.no4 {
     background: url("../images/4.gif") no-repeat scroll 4px center #F2F8FD;
}

.rank li.no5 {
     background: url("../images/5.gif") no-repeat scroll 4px center transparent;
}

.rank li.no6 {
     background: url("../images/6.gif") no-repeat scroll 4px center #F2F8FD;
}

.rank li.no7 {
     background: url("../images/7.gif") no-repeat scroll 4px center transparent;
}

.rank li.no8 {
     background: url("../images/8.gif") no-repeat scroll 4px center #F2F8FD;
}

.rank li.no9 {
     background: url("../images/9.gif") no-repeat scroll 4px center transparent;
}

.rank li.no10 {
     background: url("../images/10.gif") no-repeat scroll 4px center #F2F8FD;
}

.news_title {
     margin-top: 10px;
}

.news_title strong {
     background: url("../images/h2_icon.gif") no-repeat scroll 8px center #F4F4F4;
     display: block;
     font-size: 14px;
     line-height: 2;
     margin: 0pt 8px;
     padding-left: 20px;
}

.news_title p {
     border-bottom: 1px dashed #CCCCCC;
     color: #666666;
     margin: 6px 8px 0px;
     padding: 0pt 0pt 8px;
}

.focus {
     background: url("../images/focus_bg.jpg") repeat-x scroll left top transparent;
     border: 1px solid #AACCEE;
     margin-top: 10px;
}

.focus strong {
     border-bottom: 1px dashed #CCCCCC;
     display: block;
     font-size: 16px;
     line-height: 32px;
     margin-bottom: 6px;
     text-align: center;
}

.margin_top {
     margin-top: 10px;
}

.inputText {
     border: 1px solid #CCCCCC;
}

.banner_ad {
     padding: 0pt 10px;
}

.picText {
     background: none repeat scroll 0% 0% #F8F8F8;
     margin-bottom: 10px;
}

.picText strong {
     display: block;
}

.picText img {
    
}

.picList {
     padding: 8px 0pt;
}

.picList table td img {
     margin-bottom: 1px;
}

.tprice span {
     text-decoration: line-through;
}

.price {
     color: #FF6600;
}

.tbtncon {
     background: url("../images/title_bg.gif") repeat-x scroll 0% 0% transparent;
     height: 26px;
}

.tbtn1 {
     border: 1px solid #AACCEE;
     font-size: 12px;
     font-weight: normal;
     height: 26px;
}

.tbtncon li {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: -moz-use-text-color #AACCEE #AACCEE -moz-use-text-color;
     border-style: none solid solid none;
     border-width: medium 1px 1px medium;
     color: #07519A;
     cursor: pointer;
     display: block;
     float: left;
     height: 25px;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     width: 80px;
}

.tbtncon li:hover {
     text-decoration: underline;
}

.tbtncon li.curr {
     background: none repeat scroll 0% 0% #FFFFFF;
     border-bottom-color: #FFFFFF;
     cursor: default;
}

.position {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: url("../images/title_bg.gif") repeat-x scroll left top #E9F2FB;
     border-color: #AACCEE #AACCEE -moz-use-text-color;
     border-style: solid solid none;
     border-width: 1px 1px medium;
     color: #07519A;
     margin-bottom: 10px;
}

.position td {
     font-family: "宋体";
     line-height: 26px;
     padding: 0px 10px;
}

.channle .box {
     margin-bottom: 10px;
}

.listpage .news_list .box {
     border-width: 1px;
     padding: 0pt 10px;
}

.listpage .list_content .box {
     border-width: 1px;
     padding: 10px;
}

.listpage .news_list .box ul {
     border-bottom: 1px dashed #CCCCCC;
}

.news_list .box ul li {
     clear: both;
     height: 28px;
     line-height: 28px;
     padding: 0pt 0pt 0pt 8px;
}

.news_list .box ul li a {
     float: left;
     font-size: 14px;
}

.news_list .box ul li span {
     float: right;
     font-size: 14px;
}

.flash_list .line_bottom {
     border-bottom: 1px dashed #CCCCCC;
     color: #666666;
     margin-bottom: 4px;
}

.flash_list .flashsay {
     color: #666666;
}

.movie_list .line_bottom {
     border-bottom: 1px dashed #CCCCCC;
     color: #666666;
     margin-bottom: 4px;
}

.movie_list .titlepic img {
     border: 1px solid #CCCCCC;
     padding: 3px;
}

.shop_list .line_bottom {
     border-bottom: 1px dashed #CCCCCC;
     color: #666666;
     margin: 8px 0pt;
}

.shop_list .line_bottom table {
     margin-bottom: 8px;
}

.photo_list .line_bottom {
     border-bottom: 1px dashed #CCCCCC;
     color: #666666;
     margin: 8px 0pt;
}

.photo_list .line_bottom table {
     margin-bottom: 8px;
}

.info_list .line_bottom {
     border-bottom: 1px dashed #CCCCCC;
     color: #666666;
     margin: 8px 0pt;
}

.info_list .line_bottom .titlepic {
     width: 90px;
}

.info_list .titlepic img {
     border: 1px solid #CCCCCC;
     padding: 3px;
}

.info_list .line_bottom .click {
     color: #FF6600;
}

.info_list .line_bottom .smalltext {
     color: #666666;
}

.showpage .main .box {
     border-width: 1px;
}

.news .main .box {
     background: none repeat scroll 0% 0% #F7FDFF;
     padding: 0pt 20px;
}

.info .main .box {
     padding: 0pt 20px;
}

.showpage .main .title_info {
     margin-top: 15px;
     text-align: center;
}

.showpage .main .title_info h1 {
     font-size: 24px;
     line-height: 2;
     margin: 0px;
     padding: 0px;
}

.showpage .main .title_info .info_text {
     border-bottom: 1px dashed #CCCCCC;
     color: #666666;
     line-height: 2;
     padding-bottom: 6px;
}

.showpage .digg {
     background: url("../images/digg_bg.gif") no-repeat scroll left top transparent;
     margin-bottom: 10px;
     width: 62px;
}

.showpage .digg td {
     padding-right: 4px;
     text-align: center;
}

.showpage .digg .diggnum {
     font-size: 16px;
     font-weight: bold;
     height: 38px;
     line-height: 30px;
}

.showpage .digg .diggit {
     height: 30px;
     line-height: 24px;
}

.showpage .main #text {
     font-size: 14px;
     line-height: 1.8;
}

.showpage .main #text p {
     margin: 1em 0pt;
}

.showpage #plpost {
     border: 1px solid #AACCEE;
     margin-top: 10px;
}

.showpage #plpost .title {
     border: 0px solid #AACCEE;
}

.showpage #plpost .title span {
     color: #CC0000;
}

.showpage #plpost #saytext {
     border: 1px solid #CCCCCC;
     display: block;
     height: 100px;
     margin: 0pt 0pt 10px;
     padding: 8px;
     width: 90%;
}

.header {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: url("../images/title_bg.gif") repeat-x scroll left top #E9F2FB;
     border-color: #AACCEE #AACCEE -moz-use-text-color;
     border-style: solid solid none;
     border-width: 1px 1px medium;
     color: #07519A;
}

.header a {
     color: #000000;
}

.tableborder {
     background: none repeat scroll 0% 0% #E1EFFB;
     border: 1px solid #AACCEE;
}

.list_page {
     margin: 15px 5px;
}

.pageLink a, .list_page a, .list_page b {
     background: none repeat scroll 0% 0% #F0F8FF;
     border: 1px solid #D2EFFF;
     display: inline;
     font-size: 14px;
     padding: 4px 4px 2px;
     text-align: center;
}

.pageLink a:hover, .list_page a:hover {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #D2EFFF;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
}

.showpage .epages {
     text-align: center;
}

.epages {
     font: 11px/12px Tahoma;
     margin: 3px 0pt;
}

.epages * {
     vertical-align: middle;
}

.epages a {
     border: 1px solid #A6CBE7;
     font: 12px/14px verdana;
     margin: 0pt 1px 0pt 0pt;
     padding: 1px 4px;
     text-align: center;
     text-decoration: none;
}

.epages a:hover {
     background: none repeat scroll 0% 0% #F3F8EF;
     border: 1px solid #659B28;
     color: #004C7D;
     text-decoration: none;
}

.epages input {
     border: 1px solid #659B28;
     color: #659B28;
     font: bold 12px/15px Verdana;
     height: 15px;
     margin-bottom: 0px;
     margin-right: 1px;
     padding-bottom: 1px;
     padding-left: 1px;
}

.photoresize {
     max-width: 560px;
}
